<main class="main">
  <div class="content">
    <div class="left-side">
      <p>Wall picture editor</p>
      <div class="pictures-container">
        <div *ngFor="let component of pictureComponents | keyvalue; trackBy: trackPhotoFrameById">
          <div cdkDrag>
            <app-photo-frame [id]="component.key" [size]="component.value" (delete)="onPhotoFrameDelete(component.key)"></app-photo-frame>
          </div>
        </div>
      </div>
      <div class="work-area-container">
        <div
          class="work-area-background"
          id="work-area-container"
          [style.background-image]="'url(' + backgroundImgUrl + ')'"
          [style.background-size.%]="backgroundImageSize"
          [style.background-position-x.%]="backgroundImagePositionX"
          [style.background-position-y.%]="backgroundImagePositionY"
        >
          <div
            class="work-area"
            [style.width.px]="backgroundWidth * centimeterCoefficient / viewportCoefficient"
            [style.height.px]="backgroundHeight * centimeterCoefficient / viewportCoefficient"
          ></div>
        </div>
      </div>
    </div>
    <div class="right-side">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Background area</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <div class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Width (centimeters)</mat-label>
              <input
                matInput
                placeholder="Width"
                [(ngModel)]="backgroundWidth"
              />
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Height (centimeters)</mat-label>
              <input
                matInput
                placeholder="Height"
                [(ngModel)]="backgroundHeight"
              />
            </mat-form-field>
            <button mat-stroked-button (click)="onAddBackground()">
              Add Background
            </button>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Background image</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <div class="file-selector-container">
            <input
              type="file"
              style="display: none"
              accept="image/*"
              id="background-image-selector"
              (change)="uploadBackground($event)"
            />
            <button mat-stroked-button (click)="openBackgroundFileDialog()">
              Upload image
            </button>
          </div>
          <div class="zoom-btn-container">
            <button mat-mini-fab (click)="zoomBackgroundIn()">
              <mat-icon>zoom_in</mat-icon>
            </button>

            <button mat-mini-fab (click)="zoomBackgroundOut()">
              <mat-icon>zoom_out</mat-icon>
            </button>
          </div>
          <div class="move-btn-container">
            <button mat-mini-fab (click)="moveBackgroundLeft()">
              <mat-icon>arrow_back</mat-icon>
            </button>

            <button mat-mini-fab (click)="moveBackgroundTop()">
              <mat-icon>arrow_upward</mat-icon>
            </button>
            <button mat-mini-fab (click)="moveBackgroundRight()">
              <mat-icon>arrow_forward</mat-icon>
            </button>
            <button mat-mini-fab (click)="moveBackgroundBottom()">
              <mat-icon>arrow_downward</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Add photo frame</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <div class="zoom-btn-container">
            <mat-form-field>
              <mat-label>Frame size</mat-label>
              <mat-select (selectionChange)="onCurrentPhotoFrameSizeChange($event)">
                @for (photoSize of photoSizeValues; track photoSize) {
                <mat-option [value]="photoSize.value">{{
                  photoSize.viewValue
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <button mat-mini-fab (click)="addComponent()">
              <mat-icon>check</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>

</main>
