<main class="main">
  <div class="content">
    <div class="left-side">
      <p>Working area</p>
      <div *ngIf="showWorkArea" class="work-area-container">
        <div
          class="work-area-background"
          id="work-area-container"
          [style.background-image]="'url(' + backgroundImgUrl + ')'"
          [style.background-size.%]="backgroundImageSize"
          [style.background-position-x.%]="backgroundImagePositionX"
          [style.background-position-y.%]="backgroundImagePositionY"
        >
          <div
            class="work-area"
            [style.width.px]="backgroundWidth"
            [style.height.px]="backgroundHeight"
          ></div>
        </div>
      </div>
    </div>
    <div class="divider" role="separator"></div>
    <div class="right-side">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Background area</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Width</mat-label>
              <input
                matInput
                placeholder="Width"
                [(ngModel)]="backgroundWidth"
              />
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Height</mat-label>
              <input
                matInput
                placeholder="Height"
                [(ngModel)]="backgroundHeight"
              />
            </mat-form-field>
            <button mat-stroked-button (click)="onAddBackground()">
              Add Background
            </button>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Background image</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            <input
              type="file"
              accept="image/*"
              (change)="uploadBackground($event)"
            />
          </div>
          <div class="zoom-btn-container">
            <button mat-fab (click)="zoomBackgroundIn()">
              <mat-icon>zoom_in</mat-icon>
            </button>

            <button mat-fab (click)="zoomBackgroundOut()">
              <mat-icon>zoom_out</mat-icon>
            </button>
          </div>
          <div class="move-btn-container">
            <button mat-fab (click)="moveBackgroundLeft()">
              <mat-icon>arrow_back</mat-icon>
            </button>

            <button mat-fab (click)="moveBackgroundTop()">
              <mat-icon>arrow_upward</mat-icon>
            </button>
            <button mat-fab (click)="moveBackgroundRight()">
              <mat-icon>arrow_forward</mat-icon>
            </button>            
            <button mat-fab (click)="moveBackgroundBottom()">
              <mat-icon>arrow_downward</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>
