<div
  class="photo-frame-wrapper"
  [style.height.px]="
    (size.height * centimeterCoefficient) / viewportCoefficient
  "
  [style.width.px]="(size.width * centimeterCoefficient) / viewportCoefficient"
  [style.background-image]="'url(' + backgroundImgUrl + ')'"
  [style.border-color]="'#fff'"
  [style.border-style]="'solid'"
  [style.border-width.px]="paspartu"
  (contextmenu)="openContextMenu($event)"
>
 
</div>

<div
  style="visibility: hidden; position: fixed"
  [matMenuTriggerFor]="rightMenu"
></div>

<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="uploadImage()">Upload image</button>
    <button mat-menu-item (click)="deleteSelf()">Delete</button>
  </ng-template>
</mat-menu>

<input
  type="file"
  [id]="fileSelectorId"
  style="visibility: hidden"
  (change)="handleFileLoad($event)"
/>
