.photo-frame-container {
  position: absolute;
  display: block;
  background-color: red;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #fff;
  overflow: hidden;
}